/* :root {
  --scheme-brand-100: #08002f;
  --scheme-brand-200:  #04025c;
  --scheme-brand-300:  #1f398e;
  --scheme-brand-400:  #3856ae;
  --scheme-brand-500:  #5071cc;
  --scheme-brand-600:  #6f94f1;
  --scheme-brand-700:  #8db3ff;
  --scheme-brand-800:  #b2dbff;
  --scheme-brand-900:  #bfe8ff;
  --scheme-brand-1000: #ccf6ff;
  --scheme-brand-1100: #d2fcff;
  --scheme-brand-1200: #d2fcff;
  --scheme-brand-600-10: rgba(111,148,241,0.1);
  --scheme-brand-600-30: rgba(111,148,241,0.3);
  --scheme-brand-600-50: rgba(111,148,241,0.5);
} */
